/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 300px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container {
    position: relative;
}

.form-toggle {
    display: flex;
    justify-content: space-between;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 50%;
}

button:hover {
    background: green;
}

.form {
    padding: 20px;
    transition: all 0.3s ease;
}

.hidden {
    display: none;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
